<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<hr>
<div class="container">
  <h3> Yamurai AIDS Care Trust Timeline</h3>
  <div class="row">
    <div class="col-md-12">
      <div class="main-timeline8">
        <div class="timeline">
          <span class="timeline-icon"></span>
          <span class="year">March 2018
          </span>
          <div class="timeline-content">
            <h3 class="title">The Journey Begins
            </h3>
            <p class="description">
              Yamurai Aids Care Trust (YACT) is a community based trust that was founded in early 2018 by individuals
              amongst which where pcs working in Dzivarasekwa.
            </p>
          </div>
        </div>
        <div class="timeline">
          <span class="timeline-icon"></span>
          <span class="year">2018</span>
          <div class="timeline-content">
            <h3 class="title">The Journey Begins</h3>
            <p class="description">
              The PC’s during their work in Dzivarasekwa Extension
              noted with deep concern the plight of those infected and affected by HIV/AIDs in particular orphans.
              Trust.
            </p>
          </div>
        </div>
        <div class="timeline">
          <span class="timeline-icon"></span>
          <span class="year">2018</span>
          <div class="timeline-content">
            <h3 class="title">Burning Desirer</h3>
            <p class="description">
              In coming together, the group further noted that the situation in Dzivarasekwa was however not peculiar
              to DZ alone but rather a phenomenon in Zimbabwe.The desire to assist those in need led to the formation
              of Yamurai Aids Care Trust. The desire to assist those in need led to the formation of Yamurai Aids Care
              Trust.
            </p>
          </div>
        </div>
        <div class="timeline">
          <span class="timeline-icon"></span>
          <span class="year">2018</span>
          <div class="timeline-content">
            <h3 class="title">Burning Desire</h3>
            <p class="description">
              Working in child friendly counseling centers to provide counseling to children within the
              community, but will not limit the services to Zvimba Disctrict alone. Provision of care and support to the orphans affected or
              infected by HIV/AIDs is one of the organizations' millennium goal.
            </p>
          </div>
        </div>
        <div class="timeline">
          <span class="timeline-icon"></span>
          <span class="year">December 2018</span>
          <div class="timeline-content">
            <h3 class="title">World AIDS Day </h3>
            <p class="description">
              Yamurai AIDS Care Trust commemorated the year's World AIDS Day celebrations with GGC Assembly Warren Park-AFM in Zimbabwe at Lake Chivero, Harare.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>